<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender class="org.apache.log4j.ConsoleAppender" name="consoleAppenderHibernate">
        <layout class="org.apache.log4j.PatternLayout">
            <param value="[HIBERNATE]%d %p [%c] - &lt;%m&gt;%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <appender class="org.apache.log4j.ConsoleAppender" name="consoleAppenderApp">
        <layout class="org.apache.log4j.PatternLayout">
            <param value="[APP]%d %p [%c{1}] - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>

    <logger name="com.acc.hibernate" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="consoleAppenderApp"/>
    </logger>
    <logger name="org.hibernate" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="consoleAppenderHibernate"/>
    </logger>
    <logger name="org.hibernate.type" additivity="false">
        <level value="ALL"/>
        <appender-ref ref="consoleAppenderHibernate"/>
    </logger>
    <root>
        <level value="INFO"/>
        <appender-ref ref="consoleAppenderApp"/>
    </root>

</log4j:configuration>